apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-rolling
  labels:
    app: webapp-rolling
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp-rolling
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: webapp-rolling
    spec:
      containers:
      - name: webapp
        image: iqimran/webapp:latest
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 2
          periodSeconds: 2
